@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100&family=Yantramanav:wght@300&family=Yantramanav:wght@400&family=Yantramanav:wght@500&family=Yantramanav:wght@700&family=Yantramanav:wght@900&family=Balthazar:wght@400'); 
:root { 
--web-grays-0: hsla(0, 0%, 100%, 1); 
--web-grays-1: rgba(170, 166, 166, 1); 
--web-grays-2: hsla(0, 1.887%, 10%, 1); 
--web-grays-3: hsl(0,0%,0%); 
--red-0: #d14926; 
--red-1: #b42f0f; 
--red-2: #920400; 
--red-3: #6c0000; 
--red-4: #470000; 
--red-5: #2e0000; 
--red-6: #170000; 
--orange-0: #d19525; 
--orange-1: #b57d00; 
--orange-2: #936000; 
--orange-3: #6f4200; 
--orange-4: #4b2300; 
--orange-5: #2d0000; 
--orange-6: #150000; 
--yellow-0: #eff363; 
--yellow-1: #dde252; 
--yellow-2: #c8ce3e; 
--yellow-3: #afb723; 
--yellow-4: #929b00; 
--yellow-5: #6f7b00; 
--yellow-6: #4b5900; 
--light-green-0: #e8fec2; 
--light-green-1: #e2f8bc; 
--light-green-2: #dbf0b5; 
--light-green-3: #d2e7ac;
--light-green-4: #c7dca2; 
--light-green-5: #bacf96; 
--light-green-6: #abc088; 
--green-0: #b4db57; 
--green-1: #a0c743; 
--green-2: #88af2a; 
--green-3: #6c9300; 
--green-4: #497200;
--green-5: #255000; 
--green-6: #0a2d00; 
--blue-0: #26b4d1; 
--blue-1: #009bb7; 
--blue-2: #007d98; 
--blue-3: #005d77; 
--blue-4: #003d55; 
--blue-5: #001d33; 
--blue-6: #000012; 
--magenta-0: #f0acd6;
--magenta-1: #e6a3cc; 
--magenta-2: #da98c1; 
--magenta-3: #cc8bb3; 
--magenta-4: #bb7ca3; 
--magenta-5: #a86a90; 
--magenta-6: #91557b; 
--purple-0: #bd79c8; 
--purple-1: #aa68b6; 
--purple-2: #9454a1; 
--purple-3: #7b3d88; 
--purple-4: #5e226c; 
--purple-5: #3d004c; 
--purple-6: #21002a; 
--sand-0: #f9ebae; 
--sand-1: #f0e2a6; 
--sand-2: #e5d89c; 
--sand-3: #d8cc90; 
--sand-4: #c9bd82; 
--sand-5: #b7ac72; 
--sand-6: #a2985f; 
--soil-0: #a99176; 
--soil-1: #947d62; 
--soil-2: #7b664c;
--soil-3: #5f4c33;
--soil-4: #402f18; 
--soil-5: #220f00; 
--soil-6: #000000; 
--french-gray-0: #E9E7DD; 
--french-gray-1: #e3e1d7; 
--french-gray-2: #dcdad0;
--french-gray-3: #d4d2c8; 
--french-gray-4: #cac8be; 
--french-gray-5: #bebdb3; 
--french-gray-6: #b0afa6; 
--cool-gray-0: #e6e8e8; 
--cool-gray-1: #e1e3e3; 
--cool-gray-2: #dbdddd; 
--cool-gray-3: #d4d6d6; 
--cool-gray-4: #cccece; 
--cool-gray-5: #c2c4c4; 
--cool-gray-6: #b6b8b8; 
--warm-gray-0: #eae8ea; 
--warm-gray-1: #e6e4e6; 
--warm-gray-2: #e1dfe1; 
--warm-gray-3: #dbd9db; 
--warm-gray-4: #d4d2d4; 
--warm-gray-5: #cbc9cb; 
--warm-gray-6: #c1bfc1; 
